<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regitretion Form</title>
</head>

<body>
    <h1>Regitretion Form</h1>
    <form action="/users/create" method="post" enctype="multipart/form-data">
        <label>Name</label>
        <input type="text" name="name" required>

        <label>Email</label>
        <input type="email" name="email" required>
        
        <label>UserName</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <label>Role</label>
        <select name="role">
            <option value="user">User</option>
            <option value="admin">Admin</option>
            <option value="salesman">Salesman</option>
        </select>

        <label>Profile Photo</label>
        <input type="file" name="profilePhoto" accept="image/*">

        <button type="submit">Create</button>
    </form>

</body>

</html>