<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><%= user.name %> - <%= user.role %></h2>

<% if (user.profilePhoto && user.profilePhoto.url) { %>
  <img src="<%= user.profilePhoto.url %>" alt="profile" style="width:150px;height:150px;border-radius:50%">
<% } else { %>
  <img src="/images/default-avatar.png" alt="default" style="width:150px;height:150px;border-radius:50%">
<% } %>

<form action="/users/<%= user._id %>/photo" method="post" enctype="multipart/form-data">
  <input type="file" name="profilePhoto" accept="image/*">
  <button type="submit">Update Photo</button>
</form>

    
</body>
</html>