body {
  margin: 0;
  background: #f5f5f5;
  font-family: Arial;
}

.navbar {
  background: #111;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
}

.container {
  padding: 40px;
}

.hero {
  text-align: center;
  padding: 80px 30px;
}

.btn {
  padding: 10px 20px;
  background: #111;
  color: #fff;
  text-decoration: none;
}

.products-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.product-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 10px #0002;
}

.product-details {
  display: flex;
  gap: 40px;
}

.big-img {
  width: 350px;
  border-radius: 12px;
}

.contact-form input, 
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}
